@use '../../foundation/variables' as *;
@use '../../foundation/mixins' as *;
@use '../../foundation/function' as *;

@use './abstract';
@use './book';

.c-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  white-space: nowrap;
  clip-path: inset(50%);
}

.c-section-title {
  display: inline-block;
  border-bottom: 4px solid #282828;
  font-weight: 600;

  @include pc {
    padding-bottom: vw(16);
    border-width: vw(4);
    font-size: vw(40);
    letter-spacing: vw(1.6);
    line-height: 1;
  }

  @include sp {
    border-width: vwsp(2);
    font-size: vwsp(32);
    letter-spacing: vwsp(1.28);
    line-height: 2;
  }
}

.c-button {
  @extend %c-reset-button;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;

  @include pc {
    height: vw(65);
    padding: vw(11) vw(40) vw(11) vw(32);
    border-radius: vw(8);
    font-size: vw(22);
    letter-spacing: vw(0.88);
    gap: vw(8);
  }

  @include sp {
    height: vwsp(65);
    padding: vwsp(11) vwsp(32) vwsp(11) vwsp(40);
    border-radius: vwsp(8);
    font-size: vwsp(22);
    letter-spacing: vwsp(0.88);
    gap: vwsp(8);
  }

  &--green {
    background-color: #69bd83;
  }

  &--blue {
    background-color: #5dc2d0;
  }

  &--orange {
    background-color: #f19e39;
  }

  .icon {
    @include pc {
      width: vw(28);
    }

    @include sp {
      width: vwsp(32);
    }
  }

  .text {
    display: flex;
    justify-content: center;
    white-space: nowrap;

    @include sp {
      flex: 1;
    }
  }
}

.c-page-back-button {
  @extend %f-quicksand;
  display: flex;
  align-items: center;
  font-weight: bold;
  text-decoration: none;

  @include pc {
    gap: vw(8);
  }

  @include sp {
    gap: vwsp(8);
  }

  .c-page-back-button__icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border: solid 2px #282828;
    border-radius: 50%;
    line-height: 1;

    @include pc {
      width: vw(24);
      height: vw(24);
      border-width: vw(2);
      font-size: vw(16);
      letter-spacing: vw(0.64);
    }

    @include sp {
      width: vwsp(20);
      height: vwsp(20);
      border-width: vwsp(1.5);
      font-size: vwsp(16);
      letter-spacing: vwsp(0.64);
    }

    .icon {
      @include pc {
        width: vw(18);
        height: vw(18);
      }

      @include sp {
        width: vwsp(15);
        height: vwsp(15);
      }
    }
  }

  .c-page-back-button__text {
    @include sp {
      display: none;
    }
  }
}

.c-page-header {
  display: flex;
  position: absolute;
  align-items: center;
  font-weight: 600;
  line-height: 150%;

  @include pc {
    top: vw(6.74);
    font-size: vw(22);
    letter-spacing: vw(0.88);
  }

  @include sp {
    gap: vwsp(8);
    top: vwsp(5);
    font-size: vwsp(14);
  }

  .c-page-header__image {
    @include pc {
      width: vw(74.23);
      height: vw(73.93);
    }

    @include sp {
      width: vwsp(33.21);
      height: vwsp(33.08);
    }
  }
}

.c-page-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fdd000;

  @include pc {
    height: vw(102);
  }

  @include sp {
    height: vwsp(93);
  }
}

.c-cover {
  display: flex;
  position: fixed;
  z-index: 20;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: opacity 0.3s linear;
  background-color: #fdd000;

  @include pc {
    top: $header-heigh-pc;
    height: $kv-heigh-pc;
  }

  @include sp {
    top: $header-heigh-sp;
    height: $kv-heigh-sp;
  }

  &.is-hide {
    opacity: 0;
    pointer-events: none;
  }
}
