@use '../../../foundation/variables' as *;
@use '../../../foundation/mixins' as *;
@use '../../../foundation/function' as *;

@use '../../../object/component/index' as *;
@use '../../../object/fonts/index' as *;

.jiyuka-main {
  .fv {
    z-index: 0;
    width: 100%;
    background: #fdd000;

    @include pc {
      height: vw(600 + 40);
    }

    @include sp {
      height: vwsp(431.92 + 16);
    }

    .c-page-back-button {
      position: absolute;

      @include pc {
        top: vw(28);
        left: vw(49);
      }

      @include sp {
        top: vwsp(12);
        left: vwsp(14);
      }
    }
  }

  .fv__image {
    position: absolute;
    z-index: 10;
    right: 0;
    left: 0;
    margin: 0 auto;

    @include pc {
      top: vw(292);
      width: vw(951);
      height: vw(390);
    }

    @include sp {
      top: vwsp(225.92);
      width: vwsp(281);
      height: vwsp(276);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .fv__container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include pc {
      padding-top: vw(127);
    }

    @include sp {
      padding-top: vwsp(69.92);
    }
  }

  .fv__fukidashi {
    @include pc {
      width: vw(272);
    }
  }

  .fv__title {
    font-weight: 600;

    @include pc {
      margin-top: vw(27);
      font-size: vw(40);
      letter-spacing: vw(1.6);
      line-height: 100%;
    }

    @include sp {
      font-size: vwsp(22);
      letter-spacing: vwsp(0.88);
      line-height: 180%;
    }
  }

  .fv__description {
    font-weight: 600;
    line-height: 180%;

    @include pc {
      margin-top: vw(32);
      font-size: vw(16);
      letter-spacing: vw(0.64);
    }

    @include sp {
      margin-top: vwsp(8);
      font-size: vwsp(12);
    }
  }
}

// transitions
.jiyuka-main {
  .fv__image {
    &.is-inactive {
      @extend %c-el-hide-scale;
    }

    &.is-active {
      @extend %c-el-show-scale;
      transition-delay: 0.4s;
    }
  }

  .fv__fukidashi {
    &.is-inactive {
      @extend %c-el-hide-scale;
    }

    &.is-active {
      @extend %c-el-show-scale;
    }
  }

  .fv__title {
    &.is-inactive {
      @extend %c-el-hide-y;
    }

    &.is-active {
      @extend %c-el-show-y;
      transition-delay: 0.2s;
    }
  }

  .fv__description {
    &.is-inactive {
      @extend %c-el-hide-y;
    }

    &.is-active {
      @extend %c-el-show-y;
      transition-delay: 0.4s;
    }
  }
}
