@use '../../../foundation/variables' as *;
@use '../../../foundation/mixins' as *;
@use '../../../foundation/function' as *;

@use '../../component/index' as *;

.jiyuka-main {
  .voice {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: #ebb5bb;

    @include pc {
      height: vw(2684 + 40);
      margin-top: vw(-40);
      border-radius: vw(40) vw(40) 0 0;
    }

    @include sp {
      height: vwsp(6993 + 24);
      margin-top: vwsp(-16);
      border-radius: vwsp(16) vwsp(16) 0 0;
    }
  }

  .voice-icon {
    position: absolute;

    @include pc {
      width: vw(128);
      height: vw(128);
    }

    @include sp {
      width: vwsp(128);
      height: vwsp(128);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &--1 {
      @include pc {
        top: vw(380);
        left: vw(590);
      }

      @include sp {
        top: vwsp(374);
        right: vwsp(25);
      }
    }

    &--2 {
      @include pc {
        top: vw(707);
        right: vw(391);
      }

      @include sp {
        top: vwsp(1542);
        left: vwsp(24);
      }
    }

    &--3 {
      @include pc {
        top: vw(1348);
        right: vw(80);
      }

      @include sp {
        top: vwsp(3275);
        right: vwsp(24);
      }
    }

    &--4 {
      @include pc {
        top: vw(1952);
        left: vw(520);
      }

      @include sp {
        top: vwsp(5037);
        left: vwsp(24);
      }
    }

    &--5 {
      @include pc {
        top: vw(2390);
        left: vw(81);
      }

      @include sp {
        top: vwsp(5635);
        left: vwsp(24);
      }
    }
  }

  .voice-balloon {
    position: absolute;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &--1 {
      @include pc {
        top: vw(111);
        left: vw(326);
        width: vw(320);
      }

      @include sp {
        top: vwsp(77);
        left: vwsp(24);
        width: vwsp(320);
      }
    }

    &--2 {
      @include pc {
        top: vw(128);
        left: vw(711);
        width: vw(320);
      }

      @include sp {
        top: vwsp(534);
        left: vwsp(28);
        width: vwsp(320);
      }
    }

    &--3 {
      @include pc {
        top: vw(412);
        right: vw(79);
        width: vw(440);
      }

      @include sp {
        top: vwsp(1211);
        left: vwsp(24);
        width: vwsp(327);
      }
    }

    &--4 {
      @include pc {
        top: vw(587);
        left: vw(80);
        width: vw(320);
      }

      @include sp {
        top: vwsp(1702);
        left: vwsp(24);
        width: vwsp(325);
      }
    }

    &--5 {
      @include pc {
        top: vw(531);
        left: vw(520);
        width: vw(330);
      }

      @include sp {
        top: vwsp(1919);
        left: vwsp(24);
        width: vwsp(325);
      }
    }

    &--6 {
      @include pc {
        top: vw(921);
        left: vw(630);
        width: vw(290);
      }

      @include sp {
        top: vwsp(2477);
        left: vwsp(24);
        width: vwsp(290);
      }
    }

    &--7 {
      @include pc {
        top: vw(875);
        right: vw(79);
        width: vw(400);
      }

      @include sp {
        top: vwsp(2788);
        left: vwsp(24);
        width: vwsp(327);
      }
    }

    &--8 {
      @include pc {
        top: vw(1135);
        right: vw(79);
        width: vw(400);
      }

      @include sp {
        top: vwsp(3044);
        left: vwsp(24);
        width: vwsp(327);
      }
    }

    &--9 {
      @include pc {
        top: vw(1268);
        left: vw(80);
        width: vw(290);
      }

      @include sp {
        top: vwsp(3429);
        left: vwsp(24);
        width: vwsp(290);
      }
    }

    &--10 {
      @include pc {
        top: vw(1511);
        left: vw(80);
        width: vw(290);
      }

      @include sp {
        top: vwsp(3664);
        left: vwsp(24);
        width: vwsp(290);
      }
    }

    &--11 {
      @include pc {
        display: none;
      }

      @include sp {
        top: vwsp(4193);
        left: vwsp(61);
        width: vwsp(290);
      }
    }

    &--12 {
      @include pc {
        top: vw(1721);
        left: vw(520);
        width: vw(425);
      }

      @include sp {
        top: vwsp(4726);
        left: vwsp(24);
        width: vwsp(327);
      }
    }

    &--13 {
      @include pc {
        top: vw(2083);
        left: vw(81);
        width: vw(400);
      }

      @include sp {
        top: vwsp(5336);
        left: vwsp(24);
        width: vwsp(327);
      }
    }

    &--14 {
      @include pc {
        top: vw(2083);
        left: vw(630);
        width: vw(315);
      }

      @include sp {
        top: vwsp(5795);
        left: vwsp(24);
        width: vwsp(315);
      }
    }

    &--15 {
      @include pc {
        top: vw(2017);
        right: vw(80);
        width: vw(400);
      }

      @include sp {
        top: vwsp(6030);
        left: vwsp(24);
        width: vwsp(327);
      }
    }

    &--16 {
      @include pc {
        top: vw(2324);
        right: vw(79);
        width: vw(290);
      }

      @include sp {
        top: vwsp(6750);
        left: vwsp(61);
        width: vwsp(290);
      }
    }

    .voice-balloon__text {
      @extend %c-sr-only;
    }
  }

  .voice-food {
    position: absolute;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &--1 {
      @include pc {
        top: vw(307);
        left: vw(80);
        width: vw(320);
      }

      @include sp {
        top: vwsp(773);
        left: vwsp(108);
        width: vwsp(241);
      }
    }

    &--2 {
      @include pc {
        top: vw(128);
        right: vw(81);
        width: vw(290);
      }

      @include sp {
        top: vwsp(986);
        left: vwsp(24);
        width: vwsp(239);
      }
    }

    &--3 {
      @include pc {
        top: vw(817);
        left: vw(80);
        width: vw(510);
      }

      @include sp {
        top: vwsp(2181);
        left: vwsp(24);
        width: vwsp(327);
      }
    }

    &--4 {
      @include pc {
        top: vw(1268);
        left: vw(520);
        width: vw(400);
      }

      @include sp {
        top: vwsp(3898);
        left: vwsp(24);
        width: vwsp(326);
      }
    }

    &--5 {
      @include pc {
        top: vw(1720);
        left: vw(81);
        width: vw(400);
      }

      @include sp {
        top: vwsp(4430);
        left: vwsp(24);
        width: vwsp(327);
      }
    }

    &--6 {
      @include pc {
        top: vw(1719);
        right: vw(80);
        width: vw(320);
      }

      @include sp {
        top: vwsp(5140);
        left: vwsp(152);
        width: vwsp(199);
      }
    }

    &--7 {
      @include pc {
        top: vw(2324);
        right: vw(409);
        width: vw(290);
      }

      @include sp {
        top: vwsp(6300);
        left: vwsp(111);
        width: vwsp(240);
      }
    }

    &--8 {
      @include pc {
        top: vw(2364);
        left: vw(341);
        width: vw(289);
      }

      @include sp {
        top: vwsp(6519);
        left: vwsp(25);
        width: vwsp(240);
      }
    }
  }
}

// transitions
.jiyuka-main {
  .voice-icon {
    &.is-inactive {
      @extend %c-el-hide-scale;
    }

    &.is-active {
      @extend %c-el-show-scale;
      transition-delay: 0.4s;
    }
  }

  .voice-balloon {
    &.is-inactive {
      @extend %c-el-hide-scale;
    }

    &.is-active {
      @extend %c-el-show-scale;
      transition-delay: 0.2s;
    }
  }

  .voice-food {
    &.is-inactive {
      @extend %c-el-hide-scale;
    }

    &.is-active {
      @extend %c-el-show-scale;
    }
  }
}
