%f-base {
  font-family: 'dnp-shuei-mgothic-std', sans-serif;
  font-style: normal;
}

%f-quicksand {
  font-family: 'quicksand', sans-serif;
  font-style: normal;
}

%f-tt-commons {
  font-family: 'tt-commons-pro', sans-serif;
  font-style: normal;
}
