%f-base {
  font-family: 'dnp-shuei-mgothic-std', sans-serif;
  font-style: normal;
}

%f-quicksand {
  font-family: 'quicksand', sans-serif;
  font-style: normal;
}

%f-tt-commons {
  font-family: 'tt-commons-pro', sans-serif;
  font-style: normal;
}

%f-zen-kaku {
  font-family: 'zen-kaku-gothic-antique';
}
