@use '../../../foundation/variables' as *;
@use '../../../foundation/mixins' as *;
@use '../../../foundation/function' as *;

@use '../../component/index' as *;

.jiyuka-main {
  .report {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: #ed6d46;

    @include pc {
      margin-top: vw(-40);
      padding: vw(139) 0 vw(80 + 40);
      border-radius: vw(40) vw(40) 0 0;
      gap: vw(58);
    }

    @include sp {
      margin-top: vwsp(-16);
      padding: vwsp(67) vwsp(24) vwsp(40 + 40);
      border-radius: vwsp(16) vwsp(16) 0 0;
      gap: vwsp(37);
    }
  }

  .report__description {
    color: #fff;
    font-weight: 600;
    line-height: 180%;

    @include pc {
      width: vw(837);
      font-size: vw(18);
      letter-spacing: vw(0.72);
    }

    @include sp {
      font-size: vwsp(12);
    }
  }

  .report__sections {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include pc {
      gap: vw(64);
    }

    @include sp {
      gap: vwsp(24);
    }
  }
}

.jiyuka-main {
  .report-section {
    display: flex;
    position: relative;
    background-color: #fff;

    @include pc {
      justify-content: space-between;
      width: vw(1280);
      padding: vw(48) vw(108.5) vw(48) vw(57);
      border-radius: vw(16);
    }

    @include sp {
      flex-direction: column;
      width: 100%;
      padding: vwsp(24) vwsp(20);
      border-radius: vwsp(16);
      gap: vwsp(20);
    }

    &::after {
      @include pc {
        content: '';
        position: absolute;
        z-index: 0;
        top: vw(225);
        right: vw(559);
        width: vw(174);
        height: vw(56.58);
        background-image: url(#{$assetPath}/images/number/report-section-chart-line.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }

  .report-section__title {
    @include sp {
      width: vwsp(252);
    }
  }

  .report-section__summary {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include pc {
      flex-shrink: 0;
      gap: vw(24);
      width: vw(564);
    }

    @include sp {
      gap: vwsp(24);
      width: 100%;
    }
  }

  .report-section__chart {
    @include pc {
      width: vw(400);
      height: vw(399);
    }

    @include sp {
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .report-section__chart-note {
    @include pc {
      width: vw(407);
    }

    @include sp {
      width: 100%;
    }
  }

  .report-section-result {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-self: center;

    @include pc {
      gap: vw(40.5);
      width: vw(454);
    }

    @include sp {
      gap: vwsp(16);
      width: 100%;
    }

    .report-section-result__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;

      @include pc {
        height: vw(221);
        background-image: url(#{$assetPath}/images/number/report-section-result-frame.svg);
      }

      @include sp {
        height: vwsp(128);
        background-image: url(#{$assetPath}/images/number/sp/report-section-result-frame.svg);
        gap: vwsp(4);
      }

      .header {
        color: #ed6d46;
        font-weight: 600;
        line-height: 180%;

        @include pc {
          font-size: vw(24);
        }

        @include sp {
          font-size: vwsp(16);
          text-align: center;
        }
      }

      .per {
        display: flex;
        align-items: baseline;

        @include pc {
          gap: vw(16);
        }

        @include sp {
          gap: vwsp(8);
        }

        .head {
          font-weight: 600;
          line-height: 1;

          @include pc {
            font-size: vw(56);
          }

          @include sp {
            font-size: vwsp(28);
          }
        }

        .num {
          @extend %f-tt-commons;
          color: #ed6d46;
          font-weight: 500;
          line-height: 1;

          @include pc {
            font-size: vw(128);
          }

          @include sp {
            font-size: vwsp(64);
          }
        }

        .unit {
          @extend %f-tt-commons;
          font-weight: 600;
          line-height: 1;

          @include pc {
            font-size: vw(64);
          }

          @include sp {
            font-size: vwsp(32);
          }
        }
      }
    }

    .report-section-result__text {
      font-weight: 600;
      line-height: 180%;

      @include pc {
        font-size: vw(14);
      }

      @include sp {
        font-size: vwsp(12);
      }
    }
  }

  .report-section__note {
    font-weight: 500;

    @include pc {
      position: absolute;
      bottom: vw(15);
      left: vw(20);
      font-size: vw(12);
    }

    @include sp {
      margin-top: vwsp(-18);
      font-size: vwsp(10);
    }
  }
}

// transitions
.jiyuka-main {
  .report__description {
    &.is-inactive {
      @extend %c-el-hide-y;
    }

    &.is-active {
      @extend %c-el-show-y;
    }
  }

  .report-section {
    &.is-inactive {
      @extend %c-el-hide-y;
    }

    &.is-active {
      @extend %c-el-show-y;
    }
  }
}
