@use '../../../foundation/variables' as *;
@use '../../../foundation/mixins' as *;
@use '../../../foundation/function' as *;
@use '../../component/index' as *;

.jiyuka-main {
  .outro {
    position: relative;
    width: 100%;
    overflow: hidden;

    @include pc {
      margin-top: vw(-40);
    }

    @include sp {
      margin-top: vwsp(-24);
    }
  }

  .outro__content {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;

    @include pc {
      gap: vw(70);
      padding: vw(128) 0 vw(126);
      border-radius: vw(40);
    }

    @include sp {
      padding: vwsp(51) vwsp(25) vwsp(63);
      border-radius: vwsp(24);
      gap: vwsp(48);
    }
  }

  .outro__title {
    font-weight: 600;
    line-height: 1;

    @include pc {
      font-size: vw(40);
      letter-spacing: vw(1.6);
    }

    @include sp {
      font-size: vwsp(18);
      letter-spacing: vwsp(0.36);
    }
  }

  .outro__image {
    @include pc {
      width: vw(203);
    }

    @include sp {
      width: vwsp(111);
    }
  }

  .outro__text {
    font-weight: 600;
    text-align: center;

    @include pc {
      font-size: vw(22);
      letter-spacing: vw(0.88);
      line-height: 180%;
    }

    @include sp {
      font-size: vwsp(14);
      letter-spacing: vwsp(0.28);
      line-height: 200%;
    }
  }
}

// transitions
.jiyuka-main {
  .outro__title {
    &.is-inactive {
      @extend %c-el-hide-y;
    }
  }

  .outro__image {
    &.is-inactive {
      @extend %c-el-hide-y;
    }
  }

  .outro__text {
    &.is-inactive {
      @extend %c-el-hide-y;
    }
  }

  .outro__title {
    &.is-active {
      @extend %c-el-show-y;
    }
  }

  .outro__image {
    &.is-active {
      @extend %c-el-show-y;
    }
  }

  .outro__text {
    &.is-active {
      @extend %c-el-show-y;
    }
  }
}
