@use '../../../foundation/variables' as *;
@use '../../../foundation/mixins' as *;
@use '../../../foundation/function' as *;

@use '../../component/index' as *;
@use '../../fonts/index' as *;

.jiyuka-main {
  .pickup {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: #ed6d46;

    @include pc {
      margin-top: vw(-40);
      padding: vw(80) 0 vw(80 + 40) 0;
      border-radius: vw(40) vw(40) 0 0;
    }

    @include sp {
      margin-top: vwsp(-24);
      padding: vwsp(40) 0 vwsp(48 + 24) 0;
      border-radius: vwsp(24) vwsp(24) 0 0;
    }
  }

  .pickup__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include pc {
      gap: vw(48);
    }

    @include sp {
      gap: vwsp(24);
    }
  }

  .pickup__description {
    font-weight: 600;
    line-height: 180%;
    text-align: center;

    @include pc {
      font-size: vw(22);
      letter-spacing: vw(0.88);
    }

    @include sp {
      font-size: vwsp(16);
      letter-spacing: vwsp(0.64);
    }
  }

  .pickup__items {
    @include sp {
      padding: 0 vwsp(60) 0 vwsp(26);
    }

    &.swiper {
      width: 100% !important;
    }

    .swiper-wrapper {
      @include pc {
        display: flex;
        justify-content: center;
        gap: vw(40);
        margin-top: vw(38);
      }

      @include sp {
        gap: vwsp(16);
        margin-top: vwsp(23);
      }
    }

    .swiper-slide {
      @include pc {
        width: vw(384) !important;
      }

      @include sp {
        width: vwsp(283) !important;
      }
    }
  }

  .pickup-item {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;

    @include pc {
      width: vw(384);
      height: vw(572);
      gap: vw(10);
      padding: vw(8);
      border-radius: vw(24);
    }

    @include sp {
      width: vwsp(283);
      height: vwsp(426);
      gap: vwsp(10);
      padding: vwsp(8);
      border-radius: vwsp(16);
    }

    .pickup-item__inner {
      display: flex;
      flex-direction: column;
      width: 100%;

      @include pc {
        gap: vw(24);
      }

      @include sp {
        gap: vwsp(8);
      }
    }

    .pickup-item__image {
      flex-shrink: 0;
      width: 100%;
      overflow: hidden;
      background-color: #d9d9d9;

      @include pc {
        height: vw(384);
        border-radius: vw(24);
      }

      @include sp {
        height: vwsp(267);
        border-radius: vwsp(16);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .pickup-item__body {
      display: flex;
      flex-direction: column;
      width: 100%;

      @include pc {
        gap: vw(10);
        padding: 0 vw(16);
      }

      @include sp {
        gap: vwsp(5);
        padding: 0 vwsp(8);
      }
    }

    .pickup-item__subtitle {
      font-weight: 600;
      line-height: 150%;

      @include pc {
        font-size: vw(14);
      }

      @include sp {
        font-size: vwsp(12);
      }
    }

    .pickup-item__title {
      color: #ed6d46;
      font-weight: 600;
      line-height: 150%;

      @include pc {
        font-size: vw(22);
        letter-spacing: vw(0.88);
      }

      @include sp {
        font-size: vwsp(16);
        letter-spacing: vwsp(0.64);
      }
    }

    .pickup-item__footer {
      display: flex;
      flex-shrink: 0;
      justify-content: flex-end;
      width: 100%;

      @include pc {
        height: vw(32);
      }

      @include sp {
        height: vwsp(24);
      }
    }

    .pickup-item-button {
      @extend %f-quicksand;
      display: flex;
      font-weight: 700;
      text-decoration: none;

      @include pc {
        gap: vw(16);
      }

      @include sp {
        gap: vwsp(16);
      }

      .pickup-item-button__icon {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        border: solid 2px #e18965;
        border-radius: 50%;

        @include pc {
          width: vw(32);
          height: vw(32);
          border-width: vw(2);
        }

        @include sp {
          width: vwsp(24);
          height: vwsp(24);
          border-width: vwsp(2);
        }

        .icon {
          @include pc {
            width: vw(24);
            height: vw(24);
          }

          @include sp {
            width: vwsp(18);
            height: vwsp(18);
          }
        }
      }
    }
  }
}

// transitions
.jiyuka-main {
  .pickup__description {
    &.is-inactive {
      @extend %c-el-hide-y;
    }

    &.is-active {
      @extend %c-el-show-y;
    }
  }

  .pickup__items {
    &.is-inactive {
      @extend %c-el-hide-y;
    }

    &.is-active {
      @extend %c-el-show-y;
    }
  }
}
