@use '../../../foundation/variables' as *;
@use '../../../foundation/mixins' as *;
@use '../../../foundation/function' as *;

@use '../../component/index' as *;

.jiyuka-main {
  .voice {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: #ebb5bb;

    @include pc {
      height: vw(1080 + 40);
      margin-top: vw(-40);
      padding: vw(80) 0 0 0;
      border-radius: vw(40) vw(40) 0 0;
    }

    @include sp {
      height: vwsp(1210 + 24);
      margin-top: vwsp(-24);
      padding: vwsp(40) 0 0 0;
      border-radius: vwsp(24) vw(24) 0 0;
    }
  }

  .voice__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include pc {
      gap: vw(48);
    }

    @include sp {
      gap: vwsp(24);
    }
  }

  .voice__description {
    font-weight: 600;
    line-height: 180%;
    text-align: center;

    @include pc {
      font-size: vw(22);
      letter-spacing: vw(0.88);
    }

    @include sp {
      font-size: vwsp(16);
      letter-spacing: vwsp(0.64);
    }
  }

  .voice-icon {
    position: absolute;

    @include pc {
      width: vw(180);
      height: vw(180);
    }

    @include sp {
      width: vwsp(95);
      height: vwsp(95);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &--1 {
      @include pc {
        top: vw(506);
        left: vw(109);
      }

      @include sp {
        top: vwsp(415);
        left: vwsp(19);
      }
    }

    &--2 {
      @include pc {
        top: vw(467);
        right: vw(500);
      }

      @include sp {
        top: vwsp(619);
        right: vwsp(36);
      }
    }
  }

  .voice-balloon {
    position: absolute;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &--1 {
      @include pc {
        top: vw(314);
        left: vw(293.27);
        width: vw(420.36);
      }

      @include sp {
        top: vwsp(219);
        left: vwsp(87);
        width: vwsp(270.226);
      }
    }

    &--2 {
      @include pc {
        top: vw(334.52);
        right: vw(71.77);
        width: vw(471.54);
      }

      @include sp {
        top: vwsp(486.56);
        left: vwsp(0);
        width: vwsp(288.778);
      }
    }

    &--3 {
      @include pc {
        top: vw(613.92);
        left: vw(371);
        width: vw(342.96);
      }

      @include sp {
        top: vwsp(699);
        left: vwsp(0);
        width: vwsp(285.41);
      }
    }

    &--4 {
      @include pc {
        top: vw(657.36);
        right: vw(287.63);
        width: vw(368.74);
      }

      @include sp {
        top: vwsp(924);
        left: vwsp(88);
        width: vwsp(261);
      }
    }

    .voice-balloon__text {
      @extend %c-sr-only;
    }
  }

  .voice-more-button {
    display: flex;
    position: absolute;
    align-items: center;
    background-color: #282828;
    color: #fff;
    text-decoration: none;

    @include pc {
      bottom: vw(80 + 40);
      width: vw(560);
      height: vw(72);
      padding: vw(24) vw(24) vw(24) vw(64);
      border-radius: vw(16);
    }

    @include sp {
      bottom: vwsp(30 + 24);
      width: vwsp(327);
      height: vwsp(56);
      padding: vwsp(16) vwsp(24) vwsp(16) vwsp(40);
      border-radius: vwsp(16);
    }

    .voice-more-button__text {
      display: flex;
      flex: 1;
      justify-content: center;
      font-weight: 600;
      line-height: 150%;

      @include pc {
        font-size: vw(24);
      }

      @include sp {
        font-size: vwsp(16);
      }
    }

    .voice-more-button__icon {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border: solid 2px #fff;
      border-radius: 50%;

      @include pc {
        width: vw(32);
        height: vw(32);
        border-width: vw(2);
      }

      @include sp {
        width: vwsp(24);
        height: vwsp(24);
        border-width: vwsp(1);
      }

      .icon {
        @include pc {
          width: vw(24);
          height: vw(24);
        }

        @include sp {
          width: vwsp(18);
          height: vwsp(18);
        }

        path {
          stroke: #ed6d46;
        }
      }
    }
  }
}

// transitions
.jiyuka-main {
  .voice__description {
    &.is-inactive {
      @extend %c-el-hide-y;
    }

    &.is-active {
      @extend %c-el-show-y;
    }
  }

  .voice-icon {
    &.is-inactive {
      @extend %c-el-hide-scale;
    }

    &.is-active {
      @extend %c-el-show-scale;
    }
  }

  .voice-balloon {
    &.is-inactive {
      @extend %c-el-hide-scale;
    }

    &.is-active {
      @extend %c-el-show-scale;
    }
  }

  .voice-more-button {
    &.is-inactive {
      @extend %c-el-hide-y;
    }

    &.is-active {
      @extend %c-el-show-y;
    }
  }
}
