@use './foundation/variables' as *;
@use './foundation/mixins' as *;
@use './foundation/function' as *;
@use './object/component/abstract' as *;
@use './object/fonts' as *;

.main-visual {
  margin: 0 auto;

  @include pc {
    width: 840px;
  }

  @include sp {
    width: vwsp(327);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.lead {
  @extend %f-zen-kaku;
  text-align: center;
  color: #767676;
  font-weight: 700;
  line-height: 200%;

  @include pc {
    margin: 40.3px auto 79px;
    font-size: 16px;
    letter-spacing: 0.32px;
  }

  @include sp {
    margin: 32px auto 6px;
    font-size: vwsp(12);
    letter-spacing: vwsp(0.24);
  }
}

.book-banner {
  position: relative;
  margin: 78px auto;

  @include pc {
    margin: 78px auto;
    width: vw(1279);
  }

  @include sp {
    margin: 6px auto 40px;
    width: vwsp(324);
  }

  .book-banner__inner {
    box-sizing: border-box;
    position: relative;
    display: flex;
    background-color: #fff464;

    @include pc {
      gap: vw(42);
      width: 100%;
      padding: vw(13) vw(20) vw(16) vw(18.5);
      border-radius: vw(16);
    }

    @include sp {
      flex-direction: column;
      gap: vwsp(18);
      padding: vwsp(13);
      border-radius: vwsp(20);
    }
  }

  .book-banner__image {
    flex-shrink: 0;
    position: relative;

    @include pc {
      width: vw(381);
    }

    @include sp {
      width: 100%;
    }
  }

  .book-banner__fukidashi {
    @include pc {
      width: vw(489);
    }

    @include sp {
      align-self: center;
    }
  }

  .book-banner__label {
    position: absolute;
    top: 0;
    left: 0;

    @include pc {
      width: vw(117.58);
      height: vw(117.58);
    }
  }

  .book-banner__content {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    @include pc {
      padding-top: vw(37 - 13);
      width: vw(489);
    }
  }

  .book-banner__subtitle,
  .book-banner__title {
    @extend %f-base;
    font-weight: 600;
    line-height: 170%;

    @include pc {
      text-align: justify;
    }

    @include sp {
      text-align: center;
    }
  }

  .book-banner__subtitle {
    color: #282828;

    @include pc {
      margin-top: vw(-10);
      font-size: vw(24);
      letter-spacing: vw(0.96);
    }

    @include sp {
      margin-top: vwsp(7);
      font-size: vwsp(14);
      letter-spacing: vwsp(0.56);
    }
  }

  .book-banner__title {
    color: #e60012;

    @include pc {
      font-size: vw(40);
      letter-spacing: vw(1.6);
    }

    @include sp {
      font-size: vwsp(24);
      letter-spacing: vwsp(0.96);
    }
  }

  .book-banner__chara {
    @include pc {
      position: absolute;
      right: 0;
      top: 0;
      width: vw(342);
    }

    @include sp {
      align-self: flex-end;
      width: vwsp(247.812);
      margin-top: vwsp(-35);
    }
  }

  .book-banner-link {
    @extend %f-base;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
    color: #fff;
    text-decoration: none;
    font-weight: 600;

    @include pc {
      position: absolute;
      bottom: vw(56 * -0.5);
      right: vw(20);
      width: vw(308);
      height: vw(56);
      padding: vw(24) vw(8) vw(24) vw(16);
      border-radius: vw(16);
      font-size: vw(16);
    }

    @include sp {
      height: vwsp(56);
      padding: vwsp(24) vwsp(8) vwsp(24) vwsp(16);
      border-radius: vwsp(16);
    }

    .book-banner-link__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      @include pc {
        border: solid vw(2) #fff;
        width: vw(32);
        height: vw(32);
      }

      @include sp {
        border: solid vwsp(2) #fff;
        width: vwsp(32);
        height: vwsp(32);
      }

      .icon {
        @include pc {
          width: vw(24);
          height: vw(24);
        }

        @include sp {
          width: vwsp(24);
          height: vwsp(24);
        }
      }
    }
  }
}

.related-articles {
  display: flex;
  flex-direction: column;

  @include pc {
    gap: 24px;
    margin: 0 0 85px;
  }

  @include sp {
    gap: 27px;
    margin: 0 0 40px;
    padding-left: 24px;
  }

  .related-articles__items {
    display: flex;

    @include pc {
      gap: 40px;
      justify-content: center;
    }

    @include sp {
      gap: vwsp(26);
    }
  }

  .related-article {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 290px;
    text-decoration: none;

    @include sp {
      gap: 27px;
      width: vwsp(215);
    }

    .related-article__image {
      width: 100%;
      background-color: #eee;
      overflow: hidden;
      transition: all 0.2s linear;

      @include pc {
        height: 194px;
        border-radius: 8px;
      }

      @include sp {
        height: vwsp(144);
        border-radius: vwsp(6);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .related-article__text {
      @extend %f-zen-kaku;
      color: #000;
      font-weight: 500;
      line-height: 150%;

      @include pc {
        font-size: 16px;
        letter-spacing: 0.32px;
      }

      @include sp {
        font-size: vwsp(16);
        letter-spacing: vwsp(0.32);
      }
    }

    &:hover {
      .related-article__image {
        opacity: 0.7;
      }
    }
  }
}
