@media screen and (min-width: 980px) {
  .aid-information {
    padding: 10px;
    background-color: #EEEEEE;
  }
  .aid-information__text {
    font-size: 16px;
    font-weight: bold;
  }
  .aid-information__text:nth-of-type(n+2) {
    margin-top: 1em;
  }
}

@media screen and (max-width: 979px) {
  .aid-information {
    padding: 5px;
    background-color: #EEEEEE;
  }
  .aid-information__text {
    font-size: 14px;
    font-weight: bold;
  }
  .aid-information__text:nth-of-type(n+2) {
    margin-top: 1em;
  }
}