@media screen and (min-width: 980px) {
  body.aid-fixed {
    max-width: 100%;
    max-width: calc(var(--vw, 1vw) * 100);
  }
  .aid-modal {
    display: none;
  }
  .aid-modal.is-open {
    display: block;
  }
  .aid-modal[aria-hidden="false"] .aid-modal__container {
    animation: fadeIn .2s ease;
  }
  .aid-modal[aria-hidden="true"] .aid-modal__container {
    animation: fadeOut .2s ease;
  }
  .aid-modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    max-width: calc(var(--vw, 1vw) * 100);
    background-color: rgba(0, 0, 0, 0.3);
  }
  .aid-modal__container {
    position: relative;
    width: 100%;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .aid-modal__close {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: -18px;
    padding: 18px;
    border: 0;
    background: none;
		cursor: pointer;
	}
  .aid-modal__close svg {
    width: 24px;
    height: 24px;
    color: #ffffff;
	}
  .aid-modal__close * {
    pointer-events: none;
  }
  .aid-modal__content {
    max-height: 100vh;
    max-height: calc(var(--vh, 1vh) * 100);
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff;
  }
  /* .aid-modal--term */
  .aid-modal--term .aid-modal__container {
    max-width: 1000px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .aid-modal--term .aid-modal__content {
    padding: 40px;
  }
  .aid-modal--term .aid-modal__term {
    position: relative;
    height: 476px;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 2px solid #cccccc;
  }
  .aid-modal--term .aid-modal__term::after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 300%;
    background-color: #fff;
  }
  .aid-modal--term .aid-modal__term.js-loaded {
    overflow-y: auto;
  }
  .aid-modal--term .aid-modal__term.js-loaded::after {content: none;}

  /* .aid-modal--popup */
  .aid-modal--popup .aid-modal__container {
    max-width: 980px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .aid-modal--popup .aid-modal__content {
    padding: 40px;
    background-color: #eeeeee;
    background-image: radial-gradient(#ffffff 16%, transparent 32%), radial-gradient(#ffffff 16%, transparent 32%);
    background-position: 0 0, 3px 3px;
    background-size: 6px 6px;
  }
  .aid-modal--popup .aid-modal__popup {}
  .aid-modal--popup .aid-modal__popupText {
    font-size: 24px;
    font-weight: bold;
  }
  .aid-modal--popup .aid-modal__popupButton {
    margin-top: 30px;
  }
}

@media screen and (max-width: 979px) {
  .aid-modal {
    display: none;
  }
  .aid-modal.is-open {
    display: block;
  }
  .aid-modal[aria-hidden="false"] .aid-modal__container {
    animation: fadeIn .2s ease;
  }
  .aid-modal[aria-hidden="true"] .aid-modal__container {
    animation: fadeOut .2s ease;
  }
  .aid-modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    max-width: calc(var(--vw, 1vw) * 100);
    background-color: rgba(0, 0, 0, 0.3);
  }
  .aid-modal__container {
    position: relative;
    width: 100%;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff;
  }
  .aid-modal__close {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 18px;
    border: 0;
    background: none;
		cursor: pointer;
	}
  .aid-modal__close svg {
    width: 24px;
    height: 24px;
    color: #ffffff;
	}
  .aid-modal__close * {
    pointer-events: none;
  }
  .aid-modal__content {
    max-height: 100vh;
    max-height: calc(var(--vh, 1vh) * 100);
    overflow-x: hidden;
    overflow-y: auto;
  }
  .aid-modal--term[aria-hidden="false"] .aid-modal__container {
    animation: slideUp .2s ease;
  }
  .aid-modal--term[aria-hidden="true"] .aid-modal__container {
    animation: slideDown .2s ease;
  }
  .aid-modal--term .aid-modal__overlay {
    align-items: flex-end;
  }
  .aid-modal--term .aid-modal__container {
    max-width: 800px;
  }
  .aid-modal--term .aid-modal__content {
    padding: 20px 4vw 70px;
  }
  .aid-modal--term .aid-modal__term {
    position: relative;
    height: calc(92vh - 60px - 90px);
    overflow-x: hidden;
    overflow-y: hidden;
    border: 2px solid #cccccc;
  }
  .aid-modal--term .aid-modal__term::after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 300%;
    background-color: #fff;
  }
  .aid-modal--term .aid-modal__term.js-loaded {
    overflow-y: auto;
  }
  .aid-modal--term .aid-modal__term.js-loaded::after {content: none;}

  /* .aid-modal--popup */
  .aid-modal--popup .aid-modal__container {
    padding-left: 4vw;
    padding-right: 4vw;
    background-color: transparent;
  }
  .aid-modal--popup .aid-modal__close {
    margin-right: -4vw;
    padding: 4vw;
  }
  .aid-modal--popup .aid-modal__content {
    padding: 30px 4vw;
    background-color: #eeeeee;
    background-image: radial-gradient(#ffffff 16%, transparent 32%), radial-gradient(#ffffff 16%, transparent 32%);
    background-position: 0 0, 3px 3px;
    background-size: 6px 6px;
  }
  .aid-modal--popup .aid-modal__popup {}
  .aid-modal--popup .aid-modal__popupText {
    font-size: 16px;
    font-weight: bold;
  }
  .aid-modal--popup .aid-modal__popupButton {
    margin-top: 20px;
  }
}