@media screen and (min-width: 980px) {
  .mem-formButtonArea--aid {
    width: 100%;
  }
  .mem-formButtonArea--aid .mem-buttonGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .mem-formButtonArea--aid .mem-button {
    width: 48.89%;
  }
  .mem-formButtonArea--aid > .mem-buttonGroup > .mem-button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mem-formButtonArea--aid .mem-button__icon img {
    width: 100%;
    height: 42px;
  }
}

@media screen and (max-width: 979px) {
  .mem-formButtonArea--aid .mem-buttonGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -7.5px;
    margin-bottom: -7.5px;
  }
  .mem-formButtonArea--aid .mem-button {
    width: 47.62%;
  }
  .mem-formButtonArea--aid > .mem-buttonGroup > .mem-button {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
  }
  .mem-formButtonArea--aid .mem-button__text {
    padding-right: 40px;
    font-size: 12px;
    font-weight: bold;
  }
  .mem-formButtonArea--aid .mem-button__label {
    padding-left: 10px;
    padding-right: .5em;
  }
  .mem-formButtonArea--aid .mem-button__label > span {
    display: inline-block;
  }
  .mem-formButtonArea--aid .mem-button__icon {
    right: 10px;
    height: auto;
  }
  .mem-formButtonArea--aid .mem-button__icon img {
    width: 100%;
    height: 30px;
  }
}
