<!DOCTYPE html>

<html lang="ja">
  <head>
    <!-- Google Tag Manager -->
    <script>
      ;(function (w, d, s, l, i) {
        w[l] = w[l] || []
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : ''
        j.async = true
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
        f.parentNode.insertBefore(j, f)
      })(window, document, 'script', 'dataLayer', 'GTM-54GMHWF')
    </script>
    <!-- End Google Tag Manager -->
    <!-- meta -->
    <meta charset="utf-8" />
    <title>【味の素パーク】料理自由化プロジェクト</title>
    <meta
      name="description"
      content="この夏、自由に料理できるようになってみませんか？自炊のチカラをつける、料理の学びプログラム。体験者100名、募集します。料理にモヤモヤしている人へ、自由に料理ができるようになる一つの方法として「料理のまなびプログラム」を研究・開発中です。このプログラムを体験し、盛り上げてくれる方を100名、募集します。"
    />
    <meta name="keywords" content="味の素,味の素パーク" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- OGP meta START -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@AJINOMOTOPARK" />
    <meta property="og:title" content="【味の素パーク】料理自由化プロジェクト" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://park.ajinomoto.co.jp/" />
    <meta property="og:image" content="https://s3-11.park.ajinomoto.co.jp/assets/images/ogp.png" />
    <meta property="og:site_name" content="AJINOMOTO PARK" />
    <meta
      property="og:description"
      content="この夏、自由に料理できるようになってみませんか？自炊のチカラをつける、料理の学びプログラム。体験者100名、募集します。料理にモヤモヤしている人へ、自由に料理ができるようになる一つの方法として「料理のまなびプログラム」を研究・開発中です。このプログラムを体験し、盛り上げてくれる方を100名、募集します。"
    />
    <!-- OGP meta END -->
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png" />

    <script>
      var NPSUGGEST_ACCOUNT = 'park_ajinomoto_co_jp'
      var NPSUGGEST_SERVER = 'park-ajinomoto-co-jp-f-s.snva.jp'
    </script>
    <script
      type="text/javascript"
      src="//park-ajinomoto-co-jp-f-s.snva.jp/js/naviplus_suggestitem_view.js"
      charset="UTF-8"
    ></script>
    <script
      type="text/javascript"
      src="//park-ajinomoto-co-jp-f-s.snva.jp/js/naviplus_suggest.js"
      charset="UTF-8"
    ></script>
    <link
      href="//park-ajinomoto-co-jp-f-s.snva.jp/css/naviplus_suggest.css"
      rel="stylesheet"
      crossorigin
      type="text/css"
    />
    <script>
      NPSuggest.bind({
        server: 'park-ajinomoto-co-jp-f-s.snva.jp',
        accountID: 'park_ajinomoto_co_jp',
        inputAreaID: 'searchBtn',
        submitBtnID: 'searchSubmit',
        maxSuggest: 5,
      })
    </script>
    <!--<script>
            NPSuggest.bind({
            server: 'park-ajinomoto-co-jp-f-s.snva.jp',
            accountID: 'park_ajinomoto_co_jp',
            inputAreaID: 'searchBtnSP',
            submitBtnID: 'searchSubmitSP',
            maxSuggest: 5,
            });
            </script>-->
    <!--<script>
            NPSuggest.bind({
            server: 'park-ajinomoto-co-jp-f-s.snva.jp',
            accountID: 'park_ajinomoto_co_jp',
            inputAreaID: 'searchBtnSP_2',
            submitBtnID: 'searchSubmitSP_2',
            maxSuggest: 5,
            });
            </script>-->

    <!-- Start KARTE Tag -->
    <script>
      !(function (n) {
        var o = (window[n] = function () {
          var n = [].slice.call(arguments)
          return o.x ? o.x.apply(0, n) : o.q.push(n)
        })
        ;(o.q = []),
          (o.i = Date.now()),
          (o.allow = function () {
            o.o = 'allow'
          }),
          (o.deny = function () {
            o.o = 'deny'
          })
      })('krt')
    </script>
    <!-- Start KARTE Compatible Tag -->
    <script>
      !(function (t, e, n) {
        var r =
          (this && this.__spreadArray) ||
          function (t, e, n) {
            if (n || 2 === arguments.length)
              for (var r, o = 0, a = e.length; o < a; o++)
                (!r && o in e) || (r || (r = Array.prototype.slice.call(e, 0, o)), (r[o] = e[o]))
            return t.concat(r || Array.prototype.slice.call(e))
          }
        n[e] && (n[e].stop(), console.warn('[krt:compat] detect old tracker and remove it'), delete n[e])
        var o = n[e] || (n[e] = []),
          a = function () {
            for (var e = [], r = 0; r < arguments.length; r++) e[r] = arguments[r]
            return n[t].apply(n, e)
          }
        ;[
          'start',
          'stop',
          'action',
          'event',
          'goal',
          'chat',
          'admin',
          'group',
          'alias',
          'ready',
          'form',
          'click',
          'submit',
          'cmd',
          'emit',
          'on',
          'send',
          'css',
          'js',
          'style',
          'option',
          'get',
          'set',
          'collection',
        ].map(function (t) {
          o[t] = function () {
            for (var e = [], n = 0; n < arguments.length; n++) e[n] = arguments[n]
            return console.error.apply(console, r(['[krt:compat] not implmeneted', t], e, !1))
          }
        }),
          (o.track = function () {
            for (var t = [], e = 0; e < arguments.length; e++) t[e] = arguments[e]
            if (0 !== t.length)
              return (
                t[1] || (t[1] = {}),
                t[1]._system || (t[1]._system = {}),
                (t[1]._system.compatible_tag = !0),
                a.apply(void 0, r(['send'], t, !1))
              )
          }),
          (o.user = function () {
            for (var t = [], e = 0; e < arguments.length; e++) t[e] = arguments[e]
            return (
              t[0] || (t[0] = {}),
              t[0]._system || (t[0]._system = {}),
              (t[0]._system.compatible_tag = !0),
              a.apply(void 0, r(['send', 'identify'], t, !1))
            )
          }),
          ['buy', 'view', 'page'].map(function (t) {
            return (o[t] = function () {
              for (var e = [], n = 0; n < arguments.length; n++) e[n] = arguments[n]
              return (
                e[0] || (e[0] = {}),
                e[0]._system || (e[0]._system = {}),
                (e[0]._system.compatible_tag = !0),
                a.apply(void 0, r(['send', t], e, !1))
              )
            })
          }),
          (o.link = function (e, r) {
            var o = document.querySelector(e)
            o &&
              (r || (r = {}),
              r._system || (r._system = {}),
              (r._system.compatible_tag = !0),
              (r.href = o.getAttribute('href')),
              r.event_name || (r.event_name = 'link'),
              o.addEventListener(
                'click',
                function () {
                  return n[t]('send', r.event_name, r)
                },
                !0,
              ))
          }),
          (o.api_key = '15c9a710f4aed176117fe44113dfc029')
      })('krt', 'tracker', window)
    </script>
    <!-- End KARTE Compatible Tag -->
    <script async src="https://cdn-edge.karte.io/15c9a710f4aed176117fe44113dfc029/edge.js"></script>
    <!-- End KARTE Tag -->
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com" />
    <link rel="dns-prefetch" href="//s.w.org" />
    <link
      rel="stylesheet"
      id="wp-block-library-css"
      href="https://park.ajinomoto.co.jp/wp-includes/css/dist/block-library/style.min.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajistyle-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/style.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_init-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_init.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_colorbox-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_colorbox.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_slick-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_slick.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_base-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_base.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_recipe_card-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_recipe_card.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_recipe_card_new-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_recipe_card_new.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_recipe_corner-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_recipe_corner_new.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_recipe_menu-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_recipe_menu.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_recipe_menu_new-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_recipe_menu_new.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_recipe_basic-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_recipe_basic.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_recipe_top-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_recipe_top.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_recipe_top_new-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_recipe_top_new.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_clip-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_clip.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_rireki-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_rireki.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_nutrition-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_nutrition.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_magazine-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_magazine.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_campaign-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_campaign.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_kenko-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_kenko.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_user-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_user.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_ajinomotopark_top-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_ajinomotopark_top.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_ajinomotopark_recipe-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_ajinomotopark_recipe.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_form-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_form.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_about-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_about.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_error-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_error.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_room-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_room.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_htmlfp-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_htmlfp.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_membership_agreement-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_membership_agreement.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_terms_of_service-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_terms_of_service.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="20200715renewal_base-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/renewal/_base.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="20200715renewal_header-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/renewal/_header.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_recommend_contents-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_recommend_contents.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_trend_contents-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_trend_contents.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_faq-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_faq.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_renewal_common-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_renewal_common.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_renewal_recommend-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_recommend_recipe_corner.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_transition_area-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_transition_area.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_popular_categories-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_recipe_corner_categories.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_content_corner-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_recommend_content_corner.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_nutrition_link_area-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_nutrition_link_area.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_recommend_categories-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_recommend_corner_categories.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_recommend_corner_top-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_recommend_corner_top.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ajinomoto_id_sns_area-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/ajinomoto-id/_import.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="custom_admin_page-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/css/custom_admin_page.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="custom_admin_profile-css"
      href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/css/custom_admin_profile.css?ver=20250611"
      type="text/css"
      media="all"
    />
    <script
      type="text/javascript"
      src="https://park.ajinomoto.co.jp/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp"
    ></script>
    <script
      type="text/javascript"
      src="https://park.ajinomoto.co.jp/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"
    ></script>
    <script
      type="text/javascript"
      src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/js/registerValidation.js?ver=20250611"
    ></script>
    <script
      type="text/javascript"
      src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/js/recommend_keyword.js?ver=20250611"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.4/ofi.js?ver=20250611"
    ></script>
    <script
      type="text/javascript"
      src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/scripts/_stickyfill.min.js?ver=20250611"
    ></script>
    <script
      type="text/javascript"
      src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/js/aid_function.js?ver=20250611"
    ></script>
    <script type="text/javascript">
      /* <![CDATA[ */
      var set_obj = {
        post_ID: null,
        user_ID: null,
        path: 'https:\/\/park.ajinomoto.co.jp\/wp-admin\/admin-ajax.php',
        resource_path: 'https:\/\/park.ajinomoto.co.jp\/wp-content\/themes\/ajinomoto',
      }
      /* ]]> */
    </script>
    <script
      type="text/javascript"
      src="https://park.ajinomoto.co.jp/wp-content/plugins/ps-admin-forms/inc/../resources/js/send_clip.js?var=20250617133432&#038;ver=20250611"
    ></script>
    <link rel="https://api.w.org/" href="https://park.ajinomoto.co.jp/wp-json/" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://park.ajinomoto.co.jp/xmlrpc.php?rsd" />
    <link
      rel="wlwmanifest"
      type="application/wlwmanifest+xml"
      href="https://park.ajinomoto.co.jp/wp-includes/wlwmanifest.xml"
    />
    <link rel="canonical" href="https://park.ajinomoto.co.jp/" />
    <script type="text/javascript">
      ;(function () {
        var s = document.createElement('script')
        s.type = 'text/javascript'
        s.async = true
        s.src = 'https://bvr.ast.snva.jp/beaver.js?serial=bcd748cd-cde9-48a9-8c19-75c62e85afd1'
        var x = document.getElementsByTagName('script')[0]
        x.parentNode.insertBefore(s, x)
      })()
      var _sna_dam = _sna_dam || []
    </script>

    <script src="//park.ajinomoto.co.jp/wp-content/themes/ajinomoto/js/url-search-params.js"></script>

    <script>
      //W3C DOM イベントモデルサポートブラウザ. FireFox, Chrome, Safari, Opera, IE9
      if (window.addEventListener) {
        window.onload = function () {
          var target = document
          var targetTextBox = document.getElementById('searchBtn')
          //var targetTextBoxSP = document.getElementById('searchBtnSP');
          target.addEventListener('keypress', setEvent)
          /* 2019-08-01 AP_JSエラー LI_MING UPDATE START*/
          if (targetTextBox) {
            targetTextBox.addEventListener('keypress', setEvent)
          }
          /*if (targetTextBoxSP) {
                targetTextBoxSP.addEventListener("keypress",setEventSP);
            }*/
          /* 2019-08-01 AP_JSエラー LI_MING UPDATE END*/
        }
      }

      function setEvent(evt) {
        if (evt.keyCode == 13) {
          var frm = document.getElementById('customSearch')
          var search_word = document.getElementById('searchBtn').value
          if (frm) {
            if (typeof search_word != 'undefined' && search_word != '') {
              frm.submit()
            }
          }
        }
      }

      /*function setEventSP(evt){
        if (evt.keyCode == 13){
            var frm = document.getElementById('customSearchSP');
            var search_word = document.getElementById('searchBtnSP').value;
            if (frm){
                if (typeof search_word != "undefined" && search_word != ''){
                    frm.submit();
                }
            }
        }
    }*/

      /* 2019-08-01 AP_JSエラー LI_MING UPDATE START*/
      jQuery(window).on('beforeunload', function (e) {
        document.cookie = 'fromDirect=null'
      })
      /* 2019-08-01 AP_JSエラー LI_MING UPDATE START*/
    </script>

    <script type="text/javascript">
      if (window.location.hash && window.location.hash == '#_=_') {
        window.location.hash = ''
      }
    </script>

    <!-- Schema.org -->

    <!-- ---------------------------------------- -->
    <!--                 GIGYA API                -->
    <!-- ---------------------------------------- -->

    <script type="text/javascript" src="https://cdns.gigya.com/js/gigya.js?apikey=4_WpyR2bWooXDvUvOIrZM5ew"></script>

    <script type="text/javascript">
      // ==============================================
      // セッション情報の破棄
      // ==============================================
      function aidDestroySession() {
        const xhr = new XMLHttpRequest()
        xhr.open('POST', '/wp-json/aid/aidDestroySession')
        xhr.addEventListener('loadend', function () {
          apLogoutSession()
        })
        xhr.send()
      }

      // ==============================================
      // Park ログアウト
      // ==============================================
      function apLogoutSession(response) {
        const xhr = new XMLHttpRequest()
        xhr.open('POST', '/wp-json/aid/apLogoutSession')
        xhr.addEventListener('loadend', function () {
          window.location.href = '/'
        })
        xhr.send()
      }

      // ==============================================
      // ログアウト
      // ==============================================
      function clickAIDLogout() {
        gigya.accounts.logout()
        gigya.accounts.addEventHandlers({
          onLogout: function (event) {
            aidDestroySession()
          },
        })
      }
    </script>
  </head>
  <body class="">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-54GMHWF"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <noscript>
      <div id="noscript">
        当サイトを最適な状態で閲覧していただくにはブラウザの<span>JavaScriptを有効</span>にしてご利用下さい。<br />
        JavaScriptを無効のままご覧いただいた場合、正しい情報を取得できない場合がございます。
      </div>
    </noscript>

    <!-- DTM scripts -->
    <script type="text/javascript">
      var _ltv_user_id = ''
    </script>
    <!-- /DTM scripts -->

    <script type="text/javascript">
      localStorage.setItem('ap_ltv_user_id', '')
      localStorage.setItem('ap_member_id', '')
    </script>

    <!-- [AJINOMOTO ID] Check: CDC Login Session  -->
    <script type="text/javascript">
      window.addEventListener('DOMContentLoaded', (event) => {
        const loginVisibleEl = document.querySelectorAll('[data-visible="login"]')
        const logoutVisibleEl = document.querySelectorAll('[data-visible="logout"]')
        const checkmemberloggedin = false
        const needsDestroyAPSession = true

        verifyLogin()

        /**
         * ブラウザとCDC間のログインセッションを確認する
         */
        function verifyLogin() {
          gigya.accounts.verifyLogin({
            callback: function (response) {
              if (response.errorCode == '0' && checkmemberloggedin) {
                // Status: Login Success

                // ログアウト状態の要素を削除
                logoutVisibleEl.forEach(function (element) {
                  element.remove()
                })
                // ログイン状態の要素を表示
                loginVisibleEl.forEach(function (element) {
                  element.style.visibility = 'visible'
                })
                // ログインボタンのクリックイベントを指定
                addClickEventLoginModal()

                // Register for AJINOMOTO ID Login Session
                aidCreateServerSession([
                  { name: 'aidUID', value: response.UID },
                  { name: 'aidUIDSignature', value: response.UIDSignature },
                  { name: 'aidSignatureTimestamp', value: response.signatureTimestamp },
                ]).then((result) => {
                  // Register for PARK Login Session
                  aidAddParkLoginCookie(response.UID)
                })
              } else {
                // Status: Login Failed

                // ログイン状態の要素を削除
                loginVisibleEl.forEach(function (element) {
                  element.remove()
                })
                // ログアウト状態の要素を表示
                logoutVisibleEl.forEach(function (element) {
                  element.style.visibility = 'visible'
                })

                if (needsDestroyAPSession) {
                  const xhr = new XMLHttpRequest()
                  xhr.open('POST', '/wp-json/aid/apLogoutSession')
                  xhr.send()

                  const xhr2 = new XMLHttpRequest()
                  xhr2.open('POST', '/wp-json/aid/aidDestroySession')
                  xhr2.send()
                }
              }
            },
          })
        }

        /**
         * ログインボタンのクリックイベントを設定する
         */
        function addClickEventLoginModal() {
          // Modal Open
          $(document).on('click', '.modalBtnLoggedin', function (e) {
            $('.modalLoggedin').fadeIn(300)
            e.preventDefault()
          })
          // Modal Close
          $('.modal, .modal .mdClose').on('click', function () {
            $('.modal').fadeOut(300)
          })
          // Content stopPropagation
          $('.modalInner').on('click', function (e) {
            e.stopPropagation()
          })
        }
      })
    </script>
    <!-- /[AJINOMOTO ID] Check: CDC Login Session  -->

    <div id="wrapper" class="chFixed">
      <!-- <input id="isOpenedMenu" type="checkbox"> -->
      <!-- メニュー非表示時 -->
      <header>
        <div class="wrapperLogo searchView">
          <a href="https://park.ajinomoto.co.jp">
            <img
              src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/common/sp/AP_logo_horizontal_grad.svg"
              id="logoInClosedMenu"
              alt="AJINOMOTO PARK"
            />
          </a>
        </div>

        <div class="loginIconArea">
          <div class="wrapperBtnLogin">
            <a
              href="https://park.ajinomoto.co.jp/user/ajinomoto-id/auth/login/"
              data-visible="logout"
              style="visibility: visible"
            >
              <img
                src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/common/sp/AP_svg_icon_login_grad.svg"
                alt="ログイン"
                class="iconLogin"
              />
              <p class="textLogin">LOGIN</p>
            </a>
          </div>
        </div>

        <div class="shopIconArea">
          <div class="wrapperBtnShop">
            <a href="https://direct.ajinomoto.co.jp/?utm_source=ap&amp;utm_medium=referral&amp;utm_content=header">
              <img
                src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/common/sp/AP_svg_icon_store.svg"
                alt="オンラインショップ"
                class="iconShop"
              />
              <p class="textShop">ONLINE SHOP</p>
            </a>
          </div>
        </div>

        <div class="btnToggleMenu">
          <button type="button" class="toggleMenu" id="menuOpen"></button>
          <!-- <label class="btnToggleMenu" for="isOpenedMenu"> -->
          <div class="wrapperBtnOpen">
            <svg class="imgHumbergerButton" data-name="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 28">
              <title>OPEN MENU</title>
              <path class="cls-1" d="M0,0V4H60V0ZM0,16H60V12H0ZM0,28H60V24H0Z"></path>
            </svg>
            <p class="textHumbergerButton">MENU</p>
          </div>
          <!-- </label> -->
        </div>
      </header>
      <!-- メニュー表示時 -->
      <div class="bgOpenedMenu">
        <div class="menuContainer">
          <div class="wrapperLogo">
            <a href="https://park.ajinomoto.co.jp">
              <img
                src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/common/sp/AP_logo_horizontal_fff.svg"
                id="logoInOpenedMenu"
                alt="AJINOMOTO PARK"
              />
            </a>
          </div>
          <div class="btnToggleMenu">
            <button type="button" class="toggleMenu" id="menuClose">></button>
            <!-- <label class="btnToggleMenu" for="isOpenedMenu"> -->
            <div class="wrapperBtnClose">
              <svg class="imgHumbergerButton" data-name="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
                <title>CLOSE MENU</title>
                <polygon class="cls-1" points="38 3 35 0 19 16 3 0 0 3 16 19 0 35 3 38 19 22 35 38 38 35 22 19 38 3" />
              </svg>
              <p class="textHumbergerButton">CLOSE</p>
            </div>
            <!-- </label> -->
          </div>
          <nav id="menuContainer">
            <!-- メニュー　PCでは左側 -->
            <div id="left">
              <input id="isOpenedRecipeAcordion" class="sp" type="checkbox" />
              <label class="acd-label acd-labelOpen sp" for="isOpenedRecipeAcordion">
                <span class="titleItemListMenu-en icon recipe">RECIPE</span>
                <span class="titleItemListMenu-ja icon acordion">レシピ</span>
              </label>
              <ul class="listMenu recipe">
                <li class="itemListMenu pc">
                  <span class="titleItemListMenu-en icon recipe">RECIPE</span>
                  <span class="titleItemListMenu-ja icon acordion">レシピ</span>
                </li>
                <li class="itemListMenu">
                  <a href="https://park.ajinomoto.co.jp/recipe/" class="linkItemListMenu"></a>
                  <span class="titleItemListMenu-ja icon arrow">レシピ大百科トップ</span>
                </li>
                <li class="itemListMenu">
                  <a href="https://park.ajinomoto.co.jp/recipe/corner/" class="linkItemListMenu"></a>
                  <span class="titleItemListMenu-ja icon arrow">レシピ特集</span>
                </li>
                <li class="itemListMenu">
                  <a href="https://park.ajinomoto.co.jp/menu/" class="linkItemListMenu"></a>
                  <span class="titleItemListMenu-ja icon arrow">献立</span>
                </li>
                <li class="itemListMenu">
                  <a href="https://park.ajinomoto.co.jp/recipe/basic/" class="linkItemListMenu"></a>
                  <span class="titleItemListMenu-ja icon arrow">料理の基本</span>
                </li>
                <li class="itemListMenu pc">
                  <a href="https://community.park.ajinomoto.co.jp/view/home" class="linkItemListMenu"></a>
                  <img
                    src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/common/sp/AP_svg_icon_community.svg"
                    alt=""
                  />
                  <span class="titleItemListMenu-ja icon ajinomotalk">コミュニティに参加する</span>
                </li>
              </ul>
            </div>
            <!-- メニュー　PCでは右側 -->
            <div id="right">
              <ul class="listMenu">
                <li class="itemListMenu">
                  <a href="https://park.ajinomoto.co.jp/magazine/" class="linkItemListMenu"></a>
                  <span class="titleItemListMenu-en icon magazine">PARK MAGAZINE</span>
                  <span class="titleItemListMenu-ja icon arrow">使える・楽しい</span>
                </li>
                <li class="itemListMenu">
                  <!-- TODO: aタグ リンク先URL -->
                  <a href="https://park.ajinomoto.co.jp/activity/" class="linkItemListMenu"></a>
                  <span class="titleItemListMenu-en icon activity">PARK ACTIVITY</span>
                  <span class="titleItemListMenu-ja icon arrow">参加する</span>
                </li>
                <li class="itemListMenu">
                  <!-- //スペシャル -->
                  <a href="https://park.ajinomoto.co.jp/special/" class="linkItemListMenu"></a>
                  <span class="titleItemListMenu-en">SPECIAL</span>
                  <span class="titleItemListMenu-ja icon arrow">スペシャル</span>
                </li>
                <li class="itemListMenu">
                  <a href="https://park.ajinomoto.co.jp/campaign/" class="linkItemListMenu"></a>
                  <span class="titleItemListMenu-en">CAMPAIGN</span>
                  <span class="titleItemListMenu-ja icon arrow">キャンペーン</span>
                </li>
                <li class="itemListMenu">
                  <a href="https://park.ajinomoto.co.jp/about/" class="linkItemListMenu"></a>
                  <span class="titleItemListMenu-en">ABOUT</span>
                  <span class="titleItemListMenu-ja icon arrow">「AJINOMOTO PARK」について</span>
                </li>
                <li class="itemListMenu sp">
                  <a href="https://community.park.ajinomoto.co.jp/view/home" class="linkItemListMenu"></a>
                  <img
                    src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/common/sp/AP_svg_icon_community.svg"
                    alt=""
                  />
                  <span class="titleItemListMenu-ja icon ajinomotalk">コミュニティに参加する</span>
                </li>
              </ul>
            </div>
            <div id="bottom">
              <ul class="listMenu">
                <li class="itemListMenu clipBtn" id="clip">
                  <!-- TODO: 非ログイン状態の場合のモーダル実装 -->
                  <a href="https://park.ajinomoto.co.jp/clip/" class="modalBtnType02 linkItemListMenu"></a>
                  <span class="titleItemListMenu-en icon clip">保存一覧</span>
                </li>
                <li class="itemListMenu" id="history">
                  <a href="https://park.ajinomoto.co.jp/rireki/" class="linkItemListMenu"></a>
                  <span class="titleItemListMenu-en icon history">閲覧履歴</span>
                </li>
              </ul>
            </div>
            <!-- メニュー　ログイン状態 -->
            <div id="logined" data-visible="login" style="visibility: hidden">
              <ul class="listMenu">
                <li class="itemListMenu">
                  <a href="https://park.ajinomoto.co.jp/user/edit/" class="linkItemListMenu">
                    <span class="titleItemListMenu-en icon arrow">登録情報の確認・変更</span>
                  </a>
                </li>
                <li class="itemListMenu">
                  <a href="https://park.ajinomoto.co.jp/user/resign/" class="linkItemListMenu">
                    <span class="titleItemListMenu-en icon arrow">退会について</span>
                  </a>
                </li>
                <li class="itemListMenu">
                  <a href="https://park.ajinomoto.co.jp/user/edit/mail-deregister/" class="linkItemListMenu">
                    <span class="titleItemListMenu-en icon arrow">メール配信の登録・停止</span>
                  </a>
                </li>
                <li class="itemListMenu">
                  <a href="javascript: void(0);" class="btn-logout" onclick="clickAIDLogout();">
                    <span class="titleItemListMenu-en icon arrow">ログアウト</span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- メニュー　非ログイン状態 -->
            <div id="nonLogin" data-visible="logout" style="visibility: hidden">
              <ul class="listMenu">
                <li class="itemListMenu">
                  <a href="https://park.ajinomoto.co.jp/user/ajinomoto-id/entry/" class="linkItemListMenu btnRegister">
                    <span class="textGrad">新規会員登録</span>
                  </a>
                </li>
                <li class="itemListMenu">
                  <a
                    href="https://park.ajinomoto.co.jp/user/ajinomoto-id/auth/login/"
                    class="linkItemListMenu btnLogin"
                  >
                    <span>ログイン</span>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>

      <nav class="bottomMenu">
        <ul class="listBottomMenu">
          <li class="itemListBottomMenu popular">
            <a href="/recipe/#recipe_ranking_current"></a>
            <span class="labelBottomMenu">人気レシピ</span>
          </li>
          <li class="itemListBottomMenu recipe">
            <a href="/recipe/corner/"></a>
            <span class="labelBottomMenu">レシピ特集</span>
          </li>
          <li class="itemListBottomMenu menu">
            <a href="/menu/"></a>
            <span class="labelBottomMenu">今週の献立</span>
          </li>
          <li class="itemListBottomMenu magazine">
            <a href="/magazine/"></a>
            <span class="labelBottomMenu">読みもの</span>
          </li>
          <li class="itemListBottomMenu history">
            <a href="/clip/" class="tutorialFocus02" id="customFlothingSP"></a>
            <span class="labelBottomMenu">保存/履歴</span>
          </li>
        </ul>
        <!--<div class="trendModal">
        <a href="#" id="closeTrendModal"></a>
        <ul class="listHashtag">
                            <li class="itemListHashtag">
                    <a href="" class="btnHashtag">
                        <span class="hashtagName textGrad">＃ </span>
                        <span class="bg"></span>
                    </a>
                </li>
                    </ul>
    </div>-->
      </nav>

      <div id="container" class="searchView">
        <div id="content">
          <div class="contentHeadArea spSearchView sticky">
            <div class="innerContentHeadArea">
              <div class="searchArea clearfix">
                <form
                  id="customSearch"
                  class="tutorialFocus01"
                  name="customSearch"
                  action="/recipe/search"
                  method="GET"
                >
                  <input
                    type="text"
                    autocomplete="off"
                    name="search_word"
                    class="formTxt"
                    value=""
                    placeholder="料理名や食材でレシピを検索"
                    id="searchBtn"
                  />
                  <input type="submit" value="" class="searchBtn" id="searchSubmit" />
                </form>
              </div>
              <div class="wordList02 type01">
                <p>人気キーワード</p>
                <div class="arwL"></div>
                <ul class="clearfix fadeArea">
                  <li>
                    <a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=キャベツ" onClick="">キャベツ</a>
                  </li>
                  <li>
                    <a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=ズッキーニ" onClick=""
                      >ズッキーニ</a
                    >
                  </li>
                  <li><a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=豚肉" onClick="">豚肉</a></li>
                  <li>
                    <a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=じゃがいも" onClick=""
                      >じゃがいも</a
                    >
                  </li>
                  <li><a href="https://park.ajinomoto.co.jp/recipe/card/705375/" onClick="">酢豚</a></li>
                  <li>
                    <a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=コロッケ" onClick="">コロッケ</a>
                  </li>
                  <li>
                    <a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=ピクルス" onClick="">ピクルス</a>
                  </li>
                  <li><a href="https://park.ajinomoto.co.jp/recipe/corner/event/osu-sappari/" onClick="">梅雨</a></li>
                </ul>
                <div class="arwR"></div>
              </div>
            </div>
          </div>

          <!-- ///////////////////////////////////////////// コンテンツ各エリア ///////////////////////////////////////////// -->
        </div>
      </div>
    </div>
  </body>
</html>
