<!-- prettier-ignore -->
<%
  var breakPoint = process.env.RYORIJIYUKA_BREAKPOINT;
  var assetPath = process.env.RYORIJIYUKA_ASSET_PATH 
%>

<section class="outro">
  <div class="outro__content">
    <h2 class="outro__title js-inview">料理をもっと、自由に。</h2>
    <div class="outro__image js-inview"><img src="<%= assetPath %>/images/home/outro-image.png" alt="" /></div>
    <p class="outro__text js-inview">
      私たち味の素は、おいしくすこやかな食を<br class="u-sp" />実現するため、<br />
      商品をつくり、みなさんに届けています。<br />
      そのなかでおいしさと同じくらい家庭での<br class="u-sp" />料理の負担を減らすことを考え、<br />
      研究し、商品化してきました。<br />
      家庭での料理を見つめ続けていると、<br class="u-sp" />料理をとりまく環境は<br
        class="u-sp"
      />より多様になったと感じます。<br /><br />
      商品を提供するだけではなく、<br />
      人々がもっと自由に料理をするために、<br class="u-sp" />味の素にできることがもっとある。<br />
      そうして始まったのが<br class="u-sp" />「料理自由化プロジェクト」です。<br /><br />
      料理をするという行為と、<br class="u-sp" />料理に対する気持ち。<br />
      このふたつをもっと自由にしていくための、<br class="u-sp" />味の素の取り組みです。<br />
      <br />
    </p>
  </div>
</section>
